fastapi>=0.110
uvicorn[standard]>=0.27
SQLAlchemy>=2.0
alembic>=1.13
python-jose[cryptography]>=3.3
passlib[argon2]>=1.7.4
argon2-cffi>=23.1.0
pydantic>=2.6
requests>=2.31
XlsxWriter>=3.2
python-multipart>=0.0.9
pydantic[email]
cloudinary
python-multipart
psycopg2-binary
python-dotenv
jinja2
qrcode[pil]
aiosmtplib
apscheduler
pytz
gunicorn